body,
html {
  width: 100%;
  height: 100%;
}

h1 {
  font-family: 'Press Start 2P', Arial, sans-serif;
  color: #900;
  margin-bottom: 1em;
  text-transform: uppercase;
}


a {
  color: #F05F40;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

a:hover {
  color: #f05f40;
}

.bg-primary {
  background-color: #000 !important;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
  font-family: "Encode Sans Expanded";
}

section {
  padding: 10rem 0;
}

.section-heading {
  margin-top: 0;
}



#mainNav {
  border-bottom: 0;
  background-color: rgba(0,300,300,0.5);
  font-family: 'Press Start 2P', Arial, sans-serif;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

#mainNav .navbar-brand {
  font-weight: 400;
  font-size: 2em;
  text-transform: lowercase;
  color: #000;
  font-family: 'Press Start 2P', Arial, sans-serif;
}

#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #fff;
  text-transform: uppercase;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
  font-size: .9em;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
  color: #900;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
  color: #900 !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
  background-color: transparent;
}

header {
  padding-top: 10rem;
  background-image: url("bandSwirl.jpg");
  background-position: top ;
  background-size: cover;
  background-repeat: no-repeat;
  height: inherit;
}


.icons {
  color: white;
  font-size: 40px;
  text-align: center;
  bottom: 0;
  width: 100%;
}

.icons i {
  margin: 0 20px;
}

.icons a {
  color: rgba(255,255,255,0.5);
}

.icons a:hover {
  color: rgba(255,255,255,0.95);
}

p {
  text-align:justify;
  display:inline-block;
  width:100%;
  vertical-align:top;
  }

.bordered {
  border-top: 3px solid rgba(90,90,90,0.2);
  border-bottom: 3px solid rgba(90,90,90,0.2);
  padding: 2em;
}

.navbar-toggler{
  border: 0;
  outline: 0 !important;
}
